{% extends "base.html" %}
{% block content %}
<h1>Правила Аукціону</h1>
<p>
    3.4.1 Редагувати назву лота можуть продавці з нульовим або позитивним рейтингом без обмежень за часом та кількістю разів, але лише до першої ставки.

    3.4.2. Редагувати дату закінчення лота можуть продавці з нульовим або позитивним рейтингом без обмежень за часом та кількістю разів, але не пізніше ніж за добу до поточного закінчення лоту. Нова дата закінчення повинна бути від 3 до 30 днів від дати створення, але не раніше, ніж за добу від дати редагування.

    3.4.3 Редагувати ціну та бліц-ціну на лот можуть продавці з нульовим або позитивним рейтингом без обмежень у часіі кількість разів, але тільки до першої ставки, і тільки в межах +/-25% від початкової ціни. Бліц-ціну можна видалити без обмежень, якщо ж бліц-ціни не було спочатку (і вона не була встановлена ​​протягом 60 хвилин після створення лота), встановити її буде не можна.
3.5 Заборонено називати лоти ВЕЛИКИМИ БУКВАМИ, за винятком абревіатур, прийнятих скорочень, кодів товару.
3.6 Заборонено використовувати фотографії з контактними даними продавця, водяними знаками (допускається лише водяний знак – нік продавця на форумі), а також використання в описі лоту зовнішніх посилань на інші ресурси (допускаються лише посилання на сайт виробника або посилання на обговорення даного предмета).
3.7 Заборонено вказувати ціну на лот у тексті в описі лота, вказівку ціни допускається лише у спеціальному полі під час створення лота. Ціна вказується в українській гривні (UAH).
3.8 Лот із кількох товарів може бути проданий лише як один лот за ціною, за яку він був виграний на аукціоні.
3.9 Заборонено створювати лоти у вигляді оголошень про послуги або продаж кількох товарів за різну ціну.
3.10 Заборонено створювати кілька лотів із однаковим товаром. Під час продажу кількох одиниць однакових товарів необхідно створювати мульти-лоти. Створення кількох мульти-лотів з однаковим товаром допускається лише в тому випадку, якщо даний товар відрізняється в цих мульти-лотах (наприклад - різні розміри, різний колір, різна комплектація, різні дефекти та стан тощо). Ці відмінності необхідно вказувати в назвах мульти-лотів.
3.11 Заборонено виставляти лоти на аукціоні з метою продажу їх поза аукціоном, через інші ресурси, теми продажу, особисті повідомлення чи телефон. Подібні лоти видалятимуться, а продавці будуть повністю заблоковані на форумі.
4. Обмеження на лоти, що продаються..</p>
{% endblock %}
